# Data Cleaning

In [1]:
import pandas as pd

i. Loads the eu_life_expectancy_raw.tsv data from the data folder.

In [2]:
file_path = 'data/eu_life_expectancy_raw.tsv'

In [3]:
data = pd.read_csv(file_path, delimiter='\t')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14448 entries, 0 to 14447
Data columns (total 63 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   unit,sex,age,geo\time  14448 non-null  object
 1   2021                   14448 non-null  object
 2   2020                   14448 non-null  object
 3   2019                   14448 non-null  object
 4   2018                   14448 non-null  object
 5   2017                   14448 non-null  object
 6   2016                   14448 non-null  object
 7   2015                   14448 non-null  object
 8   2014                   14448 non-null  object
 9   2013                   14448 non-null  object
 10  2012                   14448 non-null  object
 11  2011                   14448 non-null  object
 12  2010                   14448 non-null  object
 13  2009                   14448 non-null  object
 14  2008                   14448 non-null  object
 15  2007                   14448 non-null  object
 16  2006                   14448 non-null  object
 17  2005                   14448 non-null  object
 18  2004                   14448 non-null  object
 19  2003                   14448 non-null  object
 20  2002                   14448 non-null  object
 21  2001                   14448 non-null  object
 22  2000                   14448 non-null  object
 23  1999                   14448 non-null  object
 24  1998                   14448 non-null  object
 25  1997                   14448 non-null  object
 26  1996                   14448 non-null  object
 27  1995                   14448 non-null  object
 28  1994                   14448 non-null  object
 29  1993                   14448 non-null  object
 30  1992                   14448 non-null  object
 31  1991                   14448 non-null  object
 32  1990                   14448 non-null  object
 33  1989                   14448 non-null  object
 34  1988                   14448 non-null  object
 35  1987                   14448 non-null  object
 36  1986                   14448 non-null  object
 37  1985                   14448 non-null  object
 38  1984                   14448 non-null  object
 39  1983                   14448 non-null  object
 40  1982                   14448 non-null  object
 41  1981                   14448 non-null  object
 42  1980                   14448 non-null  object
 43  1979                   14448 non-null  object
 44  1978                   14448 non-null  object
 45  1977                   14448 non-null  object
 46  1976                   14448 non-null  object
 47  1975                   14448 non-null  object
 48  1974                   14448 non-null  object
 49  1973                   14448 non-null  object
 50  1972                   14448 non-null  object
 51  1971                   14448 non-null  object
 52  1970                   14448 non-null  object
 53  1969                   14448 non-null  object
 54  1968                   14448 non-null  object
 55  1967                   14448 non-null  object
 56  1966                   14448 non-null  object
 57  1965                   14448 non-null  object
 58  1964                   14448 non-null  object
 59  1963                   14448 non-null  object
 60  1962                   14448 non-null  object
 61  1961                   14448 non-null  object
 62  1960                   14448 non-null  object
dtypes: object(63)
memory usage: 6.9+ MB

ii. Unpivots the date to long format, so that we have the following columns: unit, sex, age, region, year, value.

In [5]:
data['unit'] = data['unit,sex,age,geo\\time'].apply(lambda x: x.split(",")[0])

In [6]:
data['sex'] = data['unit,sex,age,geo\\time'].apply(lambda x: x.split(",")[1])

In [7]:
data['age'] = data['unit,sex,age,geo\\time'].apply(lambda x: x.split(",")[2])

In [8]:
data['geo\\time'] = data['unit,sex,age,geo\\time'].apply(lambda x: x.split(",")[3])

In [9]:
data.drop('unit,sex,age,geo\\time', axis=1, inplace=True)

In [10]:
data = data.melt(id_vars=['unit', 'sex', 'age', 'geo\\time'], var_name='year', value_name='value')

In [11]:
data.head()

  unit sex age geo\time   year value
0   YR   F  Y1       AL  2021     :
1   YR   F  Y1       AM  2021     :
2   YR   F  Y1       AT  2021     :
3   YR   F  Y1       AZ  2021     :
4   YR   F  Y1       BE  2021     :

In [12]:
data = data.rename(columns={'geo\\time': 'region'})

In [13]:
regions = data["region"].unique()

In [14]:
print(regions)

['AL' 'AM' 'AT' 'AZ' 'BE' 'BG' 'BY' 'CH' 'CY' 'CZ' 'DE' 'DE_TOT' 'DK'
 'EA18' 'EA19' 'EE' 'EEA30_2007' 'EEA31' 'EFTA' 'EL' 'ES' 'EU27_2007'
 'EU27_2020' 'EU28' 'FI' 'FR' 'FX' 'GE' 'HR' 'HU' 'IE' 'IS' 'IT' 'LI' 'LT'
 'LU' 'LV' 'MD' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS' 'RU' 'SE'
 'SI' 'SK' 'SM' 'TR' 'UA' 'UK' 'XK']

iii. Ensures year is an int (with the appropriate data cleaning if required)

In [13]:
data['year'] = data['year'].astype(int)

iv. Ensures value is a float (with the appropriate data cleaning if required, and do remove the NaNs).

In [14]:
data['value'].value_counts()

value
:          421394
6.8          1190
6.9          1183
7.3          1180
7.1          1176
            ...
54.3 ep         1
83.2 p          1
55.5 e          1
55.3 ep         1
1.9             1
Name: count, Length: 4049, dtype: int64

In [15]:
data['value'] = data['value'].apply(lambda x: x.split(" ")[0])

In [16]:
data = data.drop(data[data['value'] == ':'].index)

In [17]:
data['value'] = data['value'].astype(float)

In [18]:
data.head(20)

     unit sex  age     region  year  value
3418   YR   F  Y65         AT  2021   21.2
3420   YR   F  Y65         BE  2021   22.2
3421   YR   F  Y65         BG  2021   15.6
3423   YR   F  Y65         CH  2021   23.1
3424   YR   F  Y65         CY  2021   21.2
3425   YR   F  Y65         CZ  2021   18.7
3428   YR   F  Y65         DK  2021   20.9
3431   YR   F  Y65         EE  2021   19.7
3435   YR   F  Y65         EL  2021   20.8
3436   YR   F  Y65         ES  2021   23.5
3438   YR   F  Y65  EU27_2020  2021   20.9
3440   YR   F  Y65         FI  2021   22.2
3441   YR   F  Y65         FR  2021   23.4
3444   YR   F  Y65         HR  2021   18.2
3445   YR   F  Y65         HU  2021   17.5
3447   YR   F  Y65         IS  2021   21.9
3448   YR   F  Y65         IT  2021   22.3
3449   YR   F  Y65         LI  2021   23.5
3450   YR   F  Y65         LT  2021   18.3
3451   YR   F  Y65         LU  2021   22.3

v. Filters only the data where region equal to PT (Portugal).